.title {
    margin: 100px 0 50px;
    width: 100%;
    color: #333;
}


/* mobile */
@media (max-width: 767px) {
    .title {
        font-size: 2.5rem;
        padding: 0 5px 0 5px;
        margin: 80px 0 30px;
    }

  }